apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-flask-deploy
spec:
  selector:
    matchLabels:
      app: python-flask
  replicas: 1
  template:
    metadata:
      labels:
        app: python-flask
    spec:
      containers:
        - name: python-flask-container
          args:
            - pruebas.py
          command:
            - python3
          image: index.docker.io/machacamoya/santander-dockercoins:0.3-rng
          volumeMounts:
            - mountPath: /src/
              name: python-flask-volume
              readOnly: true
            - mountPath: /log/
              name: python-flask-log
              readOnly: false
            - mountPath: /config/
              name: cnfmap-flask
              readOnly: true
          workingDir: /src/
      initContainers:
        - name: python-flask-initcontainer
          args:
            - -c
            - cd /src/; git clone https://github.com/machacamoya/pruebas-openshift; cd pruebas-openshift; cp src/pruebas.py /src/; rm -rf /src/pruebas-openshift 
          command:
            - sh
          image: index.docker.io/alpine/git:latest
          volumeMounts:
            - mountPath: /src/
              name: python-flask-volume
              readOnly: false
      volumes:
        - name: python-flask-volume
          emptyDir: {}
        - name: python-flask-log
          persistentVolumeClaim: 
            claimName: log-pvc
            readOnly: false
        - name: cnfmap-flask
          configMap:
            name: cnfmap-python-flask
